.card-container {
  height: 250px;
  width: 200px;
  border-radius: 7px;
  color: white;
  margin-right: 0;

  max-width: 250px;
}

.flipper {
  height: 250px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-out;
  width: 200px;
  border-radius: 7px;
  box-shadow: 8px 8px 8px black;
  font-family: "Varela Round", sans-serif;
}
.card-container:hover .flipper {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
  display: hidden;
  height: inherit;
  position: absolute;
  text-align: center;
  width: inherit;
}

.front {
  line-height: 1.7em;
  border-radius: 7px;
  font-size: 16px;
  z-index: 2;
  text-align: center;
  font-weight: bold;
  display: grid;
}

.back {
  line-height: 1em;
  border-radius: 7px;
  color: #666;
  background-color: #282526;
  transform: rotateY(180deg);
  text-align: left;
  text-indent: 5%;
  font-size: 13px;
  display: grid;
  grid-auto-rows: 1fr 1fr 1fr 1fr 1fr;
}

.card-button {
  height: 35px;
  width: 50%;
  display: block;
  margin: 0 auto 18px auto;
  color: #282526;
  background-color: #666;
  border: none;
  border-radius: 4px;
  box-shadow: 3px 3px 3px black;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-size: 12px;
  font-family: "Varela Round", sans-serif;
}

.card-button:hover {
  letter-spacing: 2px;
  color: 282526;
  background: #ef5a00;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 0.3s ease 0s;
}
.wrap {
  border: white 5px solid;
  margin: auto 12px 20px 12px;
  padding: 12.5px 0;
}

.head-wrap {
  text-align: center !important;
  margin: 25px 10px;
}
