.content {
  font-family: "Varela Round", sans-serif;
  width: 25vw;
  height: auto;
  border: #666 1px solid;
  background-color: #666;
  border-radius: 15px;
  opacity: 0.9;
  color: black;
  box-shadow: 5px 5px 5px black;
  resize: both;
  overflow: auto;
  min-width: 300px;
  max-width: 25vw;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  margin: 140px 0;
  overflow: wrap;
}
form {
  position: relative;
  height: 100%;
  width: auto;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.group {
  font-size: 1em;
  margin: 1.25em;
  text-align: right;
}
.h2 {
  text-align: center;
  margin: 0.5em 0.25em 0.25em 0.25em;
}
.group2 {
  font-size: 1em;
  margin: 0.75em;
  text-align: left;
  float: left;
}

.footer {
  justify-content: center;
  padding-bottom: 10%;
}

input {
  border-radius: 4px;
  height: 2.2em;
  cursor: pointer;
  background-color: #888888;
  border: none;
  margin-left: 1.5em;
  text-indent: 4px;
}
input:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

button {
  border: none;
  width: 120px;
  height: 30px;
  text-align: center;
  background-color: #282526;
  border-radius: 4px;
  color: #666;
  font-family: "Varela Round", sans-serif;
  cursor: pointer;
  margin: 5%;
  font-size: 15px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  box-shadow: 2px 2px 2px black;
}

button:hover {
  background: #ef5a00;
  color: #282526 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 0.3s ease 0s;
}
.error {
  color: #ef5a00 !important;
  font-style: italic bold;
  font-size: 10px;
}
.logo3 {
  text-align: center;
  position: relative;
}

.ticket-form {
  border: black 1.5px dotted;
  padding: 8.5px 7.5px;
  border-radius: 50%;
  color: black;
  transform: scale(2.5) rotate(-45deg);
  position: relative;
}

.ticket-form:hover {
  opacity: 1 !important;
  border-color: #ef5a00;
  transition: all 0.4s ease 0s;
  color: #ef5a00;
  transition: all 0.4s ease 0s;
}
.form-info {
  padding: 1.5em 0 0 0;
}
